{# BSD 3-Clause License
 Copyright (c) 2023~2025 Moemu(MuikaAI)
 All rights reserved.
 Version: 2025.06.18 (MuiceBot) 
#}
这是一个 Meme 表情包，请对这个表情包进行审核，标准如下：
1. 此表情包中的内容适用于中国互联网法律，不能含有色情、暴力、等违法违规内容，符合公序良俗
2. 此表情包首先必须要是一个表情包，不应该是其他截图、风景等与表达情绪思想等无关的内容
你的输出有且仅有一个数字，1代表符合上述标准并且是一个表情包；0则代表不符合上述要求。除此之外，不能出现其他的文字